@media print {
    /* General Print Styling */
    body {
      font-size: 12pt;
      color: black;
      background: none !important;
    }
  
    a:after {
      content: " (" attr(href) ")";
      color: gray;
    }
  
    button, input, textarea {
      display: none;
    }
  
    /* Page Breaks */
    .chapter {
      break-before: page;
    }
  
    .section {
      break-after: page;
    }
  
    table, ul li {
      break-inside: avoid;
    }
  }
  